* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
.header {
  background-color: steelblue;
  color: aliceblue;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 5px solid rgb(236, 217, 147);
  position:fixed;
}
.course {
  margin: 40px auto;
  width: 100%;
  max-width: 1200px;
  height:100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 1px rgba(225, 225, 225, 0.8);
  border: 1px solid rgb(252, 250, 250);
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding:40px 20px;
  gap:16px; 
}

.course::after {
    content:"";
    width:350px;
}

.img-1 {
    width: 100%;
    max-width: 350px;
    height: 200px;
    background-color: white;
    box-shadow: 0 0 15px 1px rgba(225, 225, 225, 0.8);
    text-align: center;
    text-transform: uppercase;
    padding:0px;
    border-radius: 10px;
}

.course img {
  width: 100%;
  max-width: 350px;
  height: 150px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  position:relative;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
}
.nivel::after {
    text-transform: capitalize;
    content: 'Avanzado';
    font-size: 18px;
}
.nivel{
    width:100px;
    height:30px;
    color: aliceblue;
    background-color:black;
    position: relative;
    bottom:160px;
    margin-left:10px;
    padding:5px;
    border-radius: 20px;
}
